openapi: 3.0.0
info:
  description: "Talent is everywhere. Opportunity is not. Remote's mission is to create\
    \ opportunity everywhere, empowering employers to find and hire the best talent,\
    \ and enabling individuals to build financial and personal freedom. \n\nRemote\
    \ is a Global HR Platform that helps companies hire, manage, and pay their entire\
    \ team — and more effectively compete in the modern global economy through our\
    \ comprehensive set of core solutions including, HRIS, payroll, international\
    \ employment, contractor management, and more. \n\nWhether you're just starting\
    \ your global journey, or looking to optimize your existing operations, sign up\
    \ or book a demo - and see how Remote makes global HR simple."
  title: Remote API
  version: 0.1.0
  x-konfig-ignore:
    object-with-no-properties: true
  x-konfig-has-globally-required-security: true
  x-konfig-uses-multipart-form-data: true
servers:
- url: https://gateway.remote.com
- url: https://gateway.remote-sandbox.com
security:
- OAuth2: []
tags:
- name: Employments
- name: Expenses
- name: Contract Amendments
- name: Time Off
- name: Incentives
- name: Companies
- name: Cost Calculator
- name: Sandbox
- name: Company Managers
- name: Payslips
- name: Recurring Incentives
- name: Offboarding
- name: Billing Documents
- name: Countries
- name: Custom Fields
- name: Company Department
- name: Files
- name: Webhook Callbacks
- name: OAuth2
- name: Employment Contracts
- name: Resignation
- name: Benefits Country Summary
- name: Identity
- name: Time Off Balances
paths:
  /v1/contract-amendments:
    get:
      callbacks: {}
      description: List Contract Amendment requests.
      operationId: ContractAmendments_listRequests
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContractAmendmentResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: List Contract Amendment
      tags:
      - Contract Amendments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-contract-amendments
      x-accepts: application/json
    post:
      callbacks: {}
      description: |+
        Creates a Contract Amendment request.

        This endpoint requires and returns country-specific data. The exact required and returned fields will
        vary depending on which country the employment is in. To see the list of parameters for each country,
        see the **Show form schema** endpoint under the [Contract Amendments](https://gateway.remote.com/v1/docs/openapi.html) category.

        Please note that the compliance requirements for each country are subject to change according to local
        laws. Given its continual updates, using Remote's [json-schema-form](https://remote.com/resources/api/how-json-schemas-work) should be considered in order to avoid
        compliance issues and to have the latest version of a country requirements.

        If you are using this endpoint to build an integration, make sure you are dynamically collecting or
        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.

        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.

        To learn how you can dynamically generate forms to display in your UI, see the documentation for
        the [json-schema-form](https://remote.com/resources/api/how-json-schemas-work) tool.

      operationId: ContractAmendments_createRequest
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractAmendmentParams'
        description: Contract Amendment
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractAmendmentResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Create Contract Amendment
      tags:
      - Contract Amendments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-contract-amendments
      x-content-type: application/json
      x-accepts: application/json
  /v1/timeoff/{id}:
    get:
      callbacks: {}
      deprecated: false
      description: Shows a single Time Off record
      operationId: TimeOff_getRecord
      parameters:
      - description: Timeoff ID
        example: 93t3j-timeoff-id-9suej43
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 93t3j-timeoff-id-9suej43
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeoffResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Show Time Off
      tags:
      - Time Off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-timeoff-id
      x-accepts: application/json
    patch:
      callbacks: {}
      deprecated: false
      description: Updates a Time Off record. This endpoint can also be used for cancelling
        a time off.
      operationId: TimeOff_updateRecord
      parameters:
      - description: Timeoff ID
        example: 93t3j-timeoff-id-9suej43
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 93t3j-timeoff-id-9suej43
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApprovedTimeoffParams'
        description: UpdateTimeoff
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeoffResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Update Time Off
      tags:
      - Time Off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-timeoff-id
      x-content-type: application/json
      x-accepts: application/json
    put:
      callbacks: {}
      deprecated: false
      description: Updates a Time Off record. This endpoint can also be used for cancelling
        a time off.
      operationId: TimeOff_updateRecord
      parameters:
      - description: Timeoff ID
        example: 93t3j-timeoff-id-9suej43
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 93t3j-timeoff-id-9suej43
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApprovedTimeoffParams'
        description: UpdateTimeoff
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeoffResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Update Time Off
      tags:
      - Time Off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-timeoff-id
      x-content-type: application/json
      x-accepts: application/json
  /v1/incentives:
    get:
      callbacks: {}
      description: Lists all Incentives of a company
      operationId: Incentives_listAll
      parameters:
      - description: Filter by Employment ID
        example: 93t3j-employment-id-9suej43
        explode: true
        in: query
        name: employment_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 93t3j-employment-id-9suej43
      - description: Filter by Incentive status
        example: paid
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: paid
      - description: Filter by Recurring Incentive id
        example: 2f900aaf-4952-4ec4-ac7c-2b917a2b4da9
        explode: true
        in: query
        name: recurring_incentive_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 2f900aaf-4952-4ec4-ac7c-2b917a2b4da9
      - description: Starts fetching records after the given page
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1
      - description: "Change the amount of records returned per page, defaults to\
          \ 20, limited to 100"
        example: 30
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 30
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIncentivesResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: List Incentives
      tags:
      - Incentives
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-incentives
      x-accepts: application/json
    post:
      callbacks: {}
      description: |
        Creates an Incentive.

        Incentives use the currency of the employment specified provided in the `employment_id` field.
      operationId: Incentives_createIncentive
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOneTimeIncentiveParams'
        description: Incentive
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Create Incentive
      tags:
      - Incentives
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-incentives
      x-content-type: application/json
      x-accepts: application/json
  /v1/custom-fields:
    get:
      callbacks: {}
      description: Returns custom fields definitions
      operationId: CustomFields_listDefinitions
      parameters:
      - description: Starts fetching records after the given page
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1
      - description: "Change the amount of records returned per page, defaults to\
          \ 20, limited to 100"
        example: 30
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 30
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEmploymentCustomFieldsResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      summary: Lists custom fields definitions
      tags:
      - Custom Fields
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-custom-fields
      x-accepts: application/json
  /v1/cost-calculator/estimation-pdf:
    post:
      callbacks: {}
      deprecated: false
      operationId: CostCalculator_generateEstimationPdf
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CostCalculatorEstimateParams'
        description: Estimate params
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostCalculatorEstimatePDFResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal Server Error
          x-do-not-generate: true
      summary: Creates a cost estimation of employments
      tags:
      - Cost Calculator
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-cost-calculator-estimation-pdf
      x-content-type: application/json
      x-accepts: application/json
  /v1/incentives/{id}:
    delete:
      callbacks: {}
      description: |
        Delete an incentive.

        `one_time` incentives that have the following status **CANNOT** be deleted:
        * `processing`
        * `paid`
      operationId: Incentives_removeIncentive
      parameters:
      - description: Incentive ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Delete an Incentive
      tags:
      - Incentives
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-incentives-id
      x-accepts: application/json
    get:
      callbacks: {}
      description: Show an Incentive's details
      operationId: Incentives_showDetails
      parameters:
      - description: Incentive ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Show Incentive
      tags:
      - Incentives
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-incentives-id
      x-accepts: application/json
    patch:
      callbacks: {}
      description: |
        Updates an Incentive.

        Incentives use the currency of the employment specified provided in the `employment_id` field.

        The API doesn't support updating paid incentives.
      operationId: Incentives_updateIncentive
      parameters:
      - description: Incentive ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIncentiveParams'
        description: Incentive
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Update Incentive
      tags:
      - Incentives
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-incentives-id
      x-content-type: application/json
      x-accepts: application/json
    put:
      callbacks: {}
      description: |
        Updates an Incentive.

        Incentives use the currency of the employment specified provided in the `employment_id` field.

        The API doesn't support updating paid incentives.
      operationId: Incentives_updateIncentive
      parameters:
      - description: Incentive ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateIncentiveParams'
        description: Incentive
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Update Incentive
      tags:
      - Incentives
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-incentives-id
      x-content-type: application/json
      x-accepts: application/json
  /v1/payslips:
    get:
      callbacks: {}
      description: |
        Lists all payslips belonging to a company. Can also filter for a single employment belonging
        to that company.
      operationId: Payslips_listAll
      parameters:
      - description: Employment ID
        example: 93t3j-employment-id-9suej43
        explode: true
        in: query
        name: employment_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 93t3j-employment-id-9suej43
      - description: "Filters by payslips `issued_at` field, after or on the same\
          \ day than the given date"
        example: '"2022-12-15"'
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: '"2022-12-15"'
      - description: "Filters by payslips `issued_at` field, before or or the same\
          \ day than the given date"
        example: '"2023-12-15"'
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: '"2023-12-15"'
      - description: "Filters by payslips `expected_payout_date` field, after or on\
          \ the same day than the given date"
        example: '"2022-12-15"'
        explode: true
        in: query
        name: expected_payout_start_date
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: '"2022-12-15"'
      - description: "Filters by payslips `expected_payout_date` field, before or\
          \ or the same day than the given date"
        example: '"2023-12-15"'
        explode: true
        in: query
        name: expected_payout_end_date
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: '"2023-12-15"'
      - description: Starts fetching records after the given page
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1
      - description: "Change the amount of records returned per page, defaults to\
          \ 20, limited to 100"
        example: 30
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 30
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPayslipsResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      summary: List payslips
      tags:
      - Payslips
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-payslips
      x-accepts: application/json
  /auth/oauth2/token:
    post:
      callbacks: {}
      description: "Endpoint to exchange tokens in the Authorization Code, Client\
        \ Credentials and Refresh Token flows"
      operationId: OAuth2_exchangeToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuth2TokenParams'
        description: OAuth2Token
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Tokens'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Token
      tags:
      - OAuth2
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--auth-oauth2-token
      x-content-type: application/json
      x-accepts: application/json
  /v1/employment-contracts/{employment_id}/pending-changes:
    get:
      callbacks: {}
      deprecated: false
      description: Get all the pending changes (waiting for aproval or signature)
        for the employment contract.
      operationId: EmploymentContracts_getPendingChanges
      parameters:
      - description: Employment ID
        example: 93t3j-employment_id-9suej43
        explode: false
        in: path
        name: employment_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 93t3j-employment_id-9suej43
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentContractPendingChangesResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
      summary: Get employment contract pending changes
      tags:
      - Employment Contracts
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employment-contracts-employment_id-pending-changes
      x-accepts: application/json
  /v1/timeoff:
    get:
      callbacks: {}
      deprecated: false
      description: Lists all Time Off records.
      operationId: TimeOff_listRecords
      parameters:
      - description: Only show time off for a specific employment
        example: 31b8e49b-aa1c-47af-849c-3d0a53e20e0d
        explode: true
        in: query
        name: employment_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 31b8e49b-aa1c-47af-849c-3d0a53e20e0d
      - description: Filter time off by its type
        example: sick_leave
        explode: true
        in: query
        name: timeoff_type
        required: false
        schema:
          $ref: '#/components/schemas/TimeoffType'
        style: form
        x-konfig-original-example: sick_leave
      - description: Filter time off by its status
        example: approved
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/TimeoffStatus'
        style: form
        x-konfig-original-example: approved
      - description: Sort order
        example: asc
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
        x-konfig-original-example: asc
      - description: Field to sort by
        example: timeoff_type
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          enum:
          - timeoff_type
          - status
          type: string
        style: form
        x-konfig-original-example: timeoff_type
      - description: Starts fetching records after the given page
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-timeoff-get-parameters-5-schema
        style: form
        x-konfig-original-example: 1
      - description: Number of items per page
        example: 20
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          example: 20
          minimum: 1
          type: integer
          x-konfig-original-example: 20
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-timeoff-get-parameters-6-schema
        style: form
        x-konfig-original-example: 20
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTimeoffResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: List Time Off
      tags:
      - Time Off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-timeoff
      x-accepts: application/json
    post:
      callbacks: {}
      deprecated: false
      description: Creates a Time Off record
      operationId: TimeOff_recordCreate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApprovedTimeoffParams'
        description: Timeoff
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeoffResponse'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Create Time Off
      tags:
      - Time Off
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-timeoff
      x-content-type: application/json
      x-accepts: application/json
  /v1/employments/{employment_id}:
    get:
      callbacks: {}
      description: |+
        Shows all the information of an employment.

        This endpoint requires and returns country-specific data. The exact required and returned fields will
        vary depending on which country the employment is in. To see the list of parameters for each country,
        see the **Show form schema** endpoint under the [Countries](https://gateway.remote.com/v1/docs/openapi.html) category.

        Please note that the compliance requirements for each country are subject to change according to local
        laws. Given its continual updates, using Remote's [json-schema-form](https://remote.com/resources/api/how-json-schemas-work) should be considered in order to avoid
        compliance issues and to have the latest version of a country requirements.

        If you are using this endpoint to build an integration, make sure you are dynamically collecting or
        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.

        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.

        To learn how you can dynamically generate forms to display in your UI, see the documentation for
        the [json-schema-form](https://remote.com/resources/api/how-json-schemas-work) tool.

      operationId: Employments_getEmploymentInfo
      parameters:
      - description: Employment ID
        example: 93t3j-employment-id-9suej43
        explode: false
        in: path
        name: employment_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 93t3j-employment-id-9suej43
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Show employment
      tags:
      - Employments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-employments-employment_id
      x-accepts: application/json
    patch:
      callbacks: {}
      description: |
        Updates an employment.

        **For `created` employments:** You can change all basic params and onboarding tasks or perform a per onboarding task update. You can also update basic_information.

        **For `active` employments:** You can update the manager (`manager_id` field), emergency_contact_details and address_details.

        This endpoint requires and returns country-specific data. The exact required and returned fields will
        vary depending on which country the employment is in. To see the list of parameters for each country,
        see the **Show form schema** endpoint under the [Countries](https://gateway.remote.com/v1/docs/openapi.html) category.

        Please note that the compliance requirements for each country are subject to change according to local
        laws. Given its continual updates, using Remote's [json-schema-form](https://remote.com/resources/api/how-json-schemas-work) should be considered in order to avoid
        compliance issues and to have the latest version of a country requirements.

        If you are using this endpoint to build an integration, make sure you are dynamically collecting or
        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.

        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.

        To learn how you can dynamically generate forms to display in your UI, see the documentation for
        the [json-schema-form](https://remote.com/resources/api/how-json-schemas-work) tool.


        #### Automatically inviting an employee

        When you submit the `contract_details` and `pricing_plan_details`, Remote should have all the required data to automatically
        send an invite to the employee. You can tell if an automatic invite has been sent by looking at the `employment_lifecycle_stage`
        field value. If its value is `employee_self_enrollment`, it means the employee has received an email to join the Remote platform
        at their `personal_email`.

        After an automatic invite is sent to an employee, **you will not be able to update employment data through the Remote API**.
        After onboarding, only a limited set of employment data will be available for updates, such as `emergency_contact_details`.
        If you want to provide additional information for an employment, please make sure to do so **before** the employee is invited.
        We block updates to some employment data because employees need to agree to amendments in certain cases,
        such as when there are changes to their contract_details.
        Currently, these amendments can only be done through the Remote UI.

        Please contact Remote if you need to update contractors via API since it's currently not supported.
      operationId: Employments_updateData
      parameters:
      - description: Employment ID
        example: 93t3j-employment-id-9suej43
        explode: false
        in: path
        name: employment_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 93t3j-employment-id-9suej43
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentFullParams'
        description: Employment params
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Update employment
      tags:
      - Employments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-employments-employment_id
      x-content-type: application/json
      x-accepts: application/json
    put:
      callbacks: {}
      description: |
        Updates an employment.

        **For `created` employments:** You can change all basic params and onboarding tasks or perform a per onboarding task update. You can also update basic_information.

        **For `active` employments:** You can update the manager (`manager_id` field), emergency_contact_details and address_details.

        This endpoint requires and returns country-specific data. The exact required and returned fields will
        vary depending on which country the employment is in. To see the list of parameters for each country,
        see the **Show form schema** endpoint under the [Countries](https://gateway.remote.com/v1/docs/openapi.html) category.

        Please note that the compliance requirements for each country are subject to change according to local
        laws. Given its continual updates, using Remote's [json-schema-form](https://remote.com/resources/api/how-json-schemas-work) should be considered in order to avoid
        compliance issues and to have the latest version of a country requirements.

        If you are using this endpoint to build an integration, make sure you are dynamically collecting or
        displaying the latest parameters for each country by querying the _"Show form schema"_ endpoint.

        For more information on JSON Schemas, see the **How JSON Schemas work** documentation.

        To learn how you can dynamically generate forms to display in your UI, see the documentation for
        the [json-schema-form](https://remote.com/resources/api/how-json-schemas-work) tool.


        #### Automatically inviting an employee

        When you submit the `contract_details` and `pricing_plan_details`, Remote should have all the required data to automatically
        send an invite to the employee. You can tell if an automatic invite has been sent by looking at the `employment_lifecycle_stage`
        field value. If its value is `employee_self_enrollment`, it means the employee has received an email to join the Remote platform
        at their `personal_email`.

        After an automatic invite is sent to an employee, **you will not be able to update employment data through the Remote API**.
        After onboarding, only a limited set of employment data will be available for updates, such as `emergency_contact_details`.
        If you want to provide additional information for an employment, please make sure to do so **before** the employee is invited.
        We block updates to some employment data because employees need to agree to amendments in certain cases,
        such as when there are changes to their contract_details.
        Currently, these amendments can only be done through the Remote UI.

        Please contact Remote if you need to update contractors via API since it's currently not supported.
      operationId: Employments_updateDetails
      parameters:
      - description: Employment ID
        example: 93t3j-employment-id-9suej43
        explode: false
        in: path
        name: employment_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 93t3j-employment-id-9suej43
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentFullParams'
        description: Employment params
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Update employment
      tags:
      - Employments
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-employments-employment_id
      x-content-type: application/json
      x-accepts: application/json
  /v1/payslips/{id}:
    get:
      callbacks: {}
      description: |
        Given an ID, shows a payslip.

        Please contact api-support@remote.com to request access to this endpoint.
      operationId: Payslips_showPayslip
      parameters:
      - description: Payslip ID
        example: 93t3j-payslip-id-9suej43
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 93t3j-payslip-id-9suej43
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayslipResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Show payslip
      tags:
      - Payslips
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-payslips-id
      x-accepts: application/json
  /v1/incentives/recurring/{id}:
    delete:
      callbacks: {}
      description: |
        Delete a Recurring Incentive, that is, a monthly paid incentive.

        Internally, Remote schedules upcoming incentives. As such, when you attempt to
        delete a recurring incentive, Remote will **ONLY** delete scheduled incentives
        with the `pending` status.

        Incentives payments that are already scheduled and cannot be deleted will be
        included in the response, in case you need to reference them.
      operationId: RecurringIncentives_deleteScheduled
      parameters:
      - description: Recurring Incentive ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRecurringIncentiveResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Delete a Recurring Incentive
      tags:
      - Recurring Incentives
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-incentives-recurring-id
      x-accepts: application/json
  /v1/sandbox/employments/{employment_id}:
    patch:
      callbacks: {}
      description: |
        Updates an employment. Use this endpoint to modify employment states for testing
        in the Sandbox environment. This endpoint will respond with a 404 outside of the
        Sandbox environment.

        For updating an employment's parameters outside of testing purposes, use [this
        Employment update endpoint](https://gateway.remote.com/v1/docs/openapi.html).
      operationId: Sandbox_updateEmploymentState
      parameters:
      - description: Employment ID
        example: e3ee69d7-1293-4664-92fc-02625dae5247
        explode: false
        in: path
        name: employment_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: e3ee69d7-1293-4664-92fc-02625dae5247
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentUpdateParams'
        description: Employment params
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Update employment
      tags:
      - Sandbox
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-sandbox-employments-employment_id
      x-content-type: application/json
      x-accepts: application/json
    put:
      callbacks: {}
      description: |
        Updates an employment. Use this endpoint to modify employment states for testing
        in the Sandbox environment. This endpoint will respond with a 404 outside of the
        Sandbox environment.

        For updating an employment's parameters outside of testing purposes, use [this
        Employment update endpoint](https://gateway.remote.com/v1/docs/openapi.html).
      operationId: Sandbox_employmentUpdate
      parameters:
      - description: Employment ID
        example: e3ee69d7-1293-4664-92fc-02625dae5247
        explode: false
        in: path
        name: employment_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: e3ee69d7-1293-4664-92fc-02625dae5247
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmploymentUpdateParams'
        description: Employment params
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmploymentResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Update employment
      tags:
      - Sandbox
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-sandbox-employments-employment_id
      x-content-type: application/json
      x-accepts: application/json
  /v1/resignations/{employment_request_id}/resignation-letter:
    get:
      callbacks: {}
      deprecated: false
      description: Downloads a resignation letter from an employment request.
      operationId: Resignation_downloadLetter
      parameters:
      - description: The employment request ID
        example: 3ab2e491-ad1c-47af-849c-3d0a53e20e0d
        explode: false
        in: path
        name: employment_request_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 3ab2e491-ad1c-47af-849c-3d0a53e20e0d
      responses:
        "200":
          content:
            application/msword:
              schema:
                $ref: '#/components/schemas/GenericFile'
            application/pdf:
              schema:
                $ref: '#/components/schemas/GenericFile'
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                $ref: '#/components/schemas/GenericFile'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponse'
          description: Forbidden
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponse'
          description: Internal Server Error
          x-do-not-generate: true
      summary: Download a resignation letter
      tags:
      - Resignation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-resignations-employment_request_id-resignation-letter
      x-accepts: application/json
  /v1/expenses:
    get:
      callbacks: {}
      description: Lists all expenses records
      operationId: Expenses_listRecords
      parameters:
      - description: Starts fetching records after the given page
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1
      - description: "Change the amount of records returned per page, defaults to\
          \ 20, limited to 100"
        example: 30
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 30
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExpenseResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: List expenses
      tags:
      - Expenses
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-expenses
      x-accepts: application/json
    post:
      callbacks: {}
      description: Creates an **approved** expense
      operationId: Expenses_createApprovedExpense
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParamsToCreateExpense'
        description: Expenses
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Create expense
      tags:
      - Expenses
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-expenses
      x-content-type: application/json
      x-accepts: application/json
  /v1/company-departments:
    get:
      callbacks: {}
      deprecated: false
      description: |
        Lists all departments for the authorized company specified in the request.
      operationId: CompanyDepartment_list
      parameters:
      - description: Company ID
        example: d2091b1e-b1a4-437a-91ea-2809ffbb6d59
        explode: true
        in: query
        name: company_id
        required: true
        schema:
          type: string
        style: form
        x-konfig-original-example: d2091b1e-b1a4-437a-91ea-2809ffbb6d59
      - description: "Paginate option. Default: true. When true, paginates response;\
          \ otherwise, does not."
        example: false
        explode: true
        in: query
        name: paginate
        required: false
        schema:
          type: boolean
        style: form
        x-konfig-original-example: false
      - description: Starts fetching records after the given page
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 1
          minimum: 1
          type: integer
          x-konfig-original-example: 1
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-company-departments-get-parameters-2-schema
        style: form
        x-konfig-original-example: 1
      - description: Number of items per page
        example: 20
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 20
          example: 20
          minimum: 1
          type: integer
          x-konfig-original-example: 20
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-company-departments-get-parameters-3-schema
        style: form
        x-konfig-original-example: 20
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCompanyDepartmentsPaginatedResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
      summary: List Company Departments
      tags:
      - Company Department
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-company-departments
      x-accepts: application/json
    post:
      callbacks: {}
      deprecated: false
      description: Creates a new department in the specified company. Department names
        may be non-unique and must be non-empty with no more than 255 characters (Unicode
        code points).
      operationId: CompanyDepartment_createNewDepartment
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyDepartmentParams'
        description: Create Company Department request params
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDepartmentCreatedResponse'
          description: Created
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
      summary: Create New Department
      tags:
      - Company Department
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-company-departments
      x-content-type: application/json
      x-accepts: application/json
  /v1/expenses/{id}:
    get:
      callbacks: {}
      description: Shows a single expense record
      operationId: Expenses_showRecord
      parameters:
      - description: Expense ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Show expense
      tags:
      - Expenses
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-expenses-id
      x-accepts: application/json
    patch:
      callbacks: {}
      description: Updates an expense
      operationId: Expenses_updateRecord
      parameters:
      - description: Expense ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpenseParams'
        description: Expenses
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      summary: Update an expense
      tags:
      - Expenses
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--v1-expenses-id
      x-content-type: application/json
      x-accepts: application/json
    put:
      callbacks: {}
      description: Updates an expense
      operationId: Expenses_updateExpense
      parameters:
      - description: Expense ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateExpenseParams'
        description: Expenses
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictResponse'
          description: Conflict
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      summary: Update an expense
      tags:
      - Expenses
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--v1-expenses-id
      x-content-type: application/json
      x-accepts: application/json
  /v1/benefits/country-summary:
    get:
      callbacks: {}
      deprecated: false
      description: |
        List benefits summary for each country with the number of enrolled employees.
      operationId: BenefitsCountrySummary_listSummary
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBenefitsCountrySummaryResponse'
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
      summary: List Benefits Country Summary
      tags:
      - Benefits Country Summary
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-benefits-country-summary
      x-accepts: application/json
  /v1/company-managers:
    get:
      callbacks: {}
      description: |
        List all company managers of an integration. If filtered by the company_id param,
        it lists only company managers belonging to the specified company.
      operationId: CompanyManagers_listManagers
      parameters:
      - description: A Company ID to filter the results (only applicable for Integration
          Partners).
        example: 0a8s2d1-company-id-2e3f4th
        explode: true
        in: query
        name: company_id
        required: false
        schema:
          type: string
        style: form
        x-konfig-original-example: 0a8s2d1-company-id-2e3f4th
      - description: Starts fetching records after the given page
        example: 1
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 1
      - description: "Change the amount of records returned per page, defaults to\
          \ 20, limited to 100"
        example: 30
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          type: integer
        style: form
        x-konfig-original-example: 30
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyManagersResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: List Company Managers
      tags:
      - Company Managers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-company-managers
      x-accepts: application/json
    post:
      callbacks: {}
      description: Create a Company Manager and sends the invitation email for signing
        in to the Remote Platform.
      operationId: CompanyManagers_createInvite
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyManagerParams'
        description: Company Manager params
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyManagerData'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Create and invite a Company Manager
      tags:
      - Company Managers
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-company-managers
      x-content-type: application/json
      x-accepts: application/json
  /v1/payslips/{payslip_id}/pdf:
    get:
      callbacks: {}
      description: |
        Given a Payslip ID, downloads a payslip.
        It is important to note that each country has a different payslip format and they are not authored by Remote.
      operationId: Payslips_downloadPdf
      parameters:
      - description: Payslip ID
        example: 93t3j-payslip-id-9suej43
        explode: false
        in: path
        name: payslip_id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 93t3j-payslip-id-9suej43
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayslipDownloadResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Download payslip in the PDF format
      tags:
      - Payslips
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-payslips-payslip_id-pdf
      x-accepts: application/json
  /v1/identity/current:
    get:
      callbacks: {}
      description: |
        Shows information about the entities that can be controlled by the current auth token.
      operationId: Identity_getTokenInfo
      parameters: []
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityCurrentResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponse'
          description: Bad Request
          x-do-not-generate: true
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponse'
          description: Unauthorized
          x-do-not-generate: true
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: Not Found
          x-do-not-generate: true
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntityResponse'
          description: Unprocessable Entity
          x-do-not-generate: true
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponse'
          description: Too many requests
          x-do-not-generate: true
      security:
      - OAuth2: []
      summary: Get token identity
      tags:
      - Identity
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-identity-current
      x-accepts: application/json
  /v1/files/{id}:
    get:
      callbacks: {}
      description: |
        Downloads a file.

        Please contact api-support@remote.com to request access to this endpoint.
      operationId: Files_downloadFile
      parameters:
      - description: File ID
        example: 93t3j-file-id-9suej43
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-konfig-original-example: 93t3j-file-id-9suej43
      responses:
        "200":
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/GenericFile'
          description: Success
          headers:
[...]
